{
    "printWidth": 80,
    "tabWidth": 2,
    "singleQuote": true,
    "trailingComma": "es5",
    "semi": true,
    "jsxSingleQuote": false,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "auto"
  }